//@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
//colors Orange
$orangeMain: cadetblue;
$orangeDark: #d45b2d;
$orangeDark2: #b74c0c;
$orangeLight: #ff8757;
$orangeLight2: #ff9e73;
$orangeShadeLight: #f6a57a;
$orangeShadeDark: #a73d0a;
$orangeTextBgWhite: #ffffff;
$orangeTextBgDark: #000000;

//colors Blue
$blueMain: cadetblue;
$blueMainBG: #c1dce1;
$blueDark: #3A5F77;
$blueDark2: #2E3D4B;
$blueLigth: #5F9EA0;
$blueLigth2: #4B6A76;
$blueLigther: #8DC0C9;
$blueGreen: #5F8C5F;
$blueGrey: #556B6B;
$blueBrown: #5F4B24;

//black Ale
$blackBg: #121212;
$greyDarkText: #6f6f6f;
$greyTextSpotify: #a7a7a7;
$silver: #f5f5f7;
$blackTxt: #1d1d1f;
//random color for card in gallery
$cardBgRandom-1: $blueMain;
$cardBgRandom-2: $blueDark;
$cardBgRandom-3: $blueDark2;
$cardBgRandom-4: $blueLigth;
$cardBgRandom-5: $blueLigth2;
$cardBgRandom-6: $blueLigther;
$cardBgRandom-7: $blueGreen;
$cardBgRandom-8: $blueGrey;
$cardBgRandom-9: $blueBrown;

//btn setups
$btnDefBg: $blackTxt;
//$btnDefBg: $blueMain;
$btnColWhite: #ffffff;

html, body {
    height: 100%;
}
//
.iconContainer {
    display: flex;

    .label {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s; // Aggiungere una pausa iniziale
    }

    &:hover {
        .label {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            transition-delay: 0s; // Rimuovere la pausa iniziale durante l'hover
        }
    }
}

.field-validation-error {
    span {
        color: red;
        margin: 2em;
    }
}

body {
    display: flex;
    flex-direction: column;
    //background: $blueMainBG;
    background: $silver;

    * {
        font-family: 'Montserrat', sans-serif;
        //font-family: 'Libre Baskerville', serif;
        color: $blackTxt;
    }
}

.mainContainer {
    flex: 1;
}

h1 {
    margin: 0.0em;
}

h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.8em;
}

h4 {
    font-weight: 600;
    text-align: center;
}

.carImg {
}

input, select {
    border-radius: 250px !important;
}

.form-group {
    margin-bottom: 0.5em;

    .col-md-10 {
        display: flex;
        align-items: center;
    }

    ::placeholder {
        color: #636363;
    }

    .input-icon {
        width: 25px;
    }
}

.form-horizontal {
}

nav {
    background: $blackBg;

    .dropdown-menu {
        background: $blackBg;

        .dropdown-item {
            color: white;
        }
    }
}

.navAdmin {
    background: lighten($blackBg, 20%);
    //position: absolute;
    width: 100%;

    .dropdown-menu {
        background: lighten($blackBg, 20%);
        margin: 0;
        padding: 0;
        border: 0;

        .dropdown-item {
            color: white;
        }
    }
}

footer {
    flex-shrink: 0;
    background: $blackBg;
    color: $btnColWhite;
    padding: 0.5em;

    a, p {
        color: $btnColWhite;
    }
}

.btn-default {
    background: lighten($blackBg, 20%);
    color: $btnColWhite;
    width: 100%;
    border-radius: 250px !important;
    //margin-top: 0.3em;
}

.btn-default:hover {
    background: darken($btnDefBg, 10%);
    color: $btnColWhite;
}

.btn-default + .btn-default {
    background: darken($btnDefBg, 20%);
}

.btn-default + .btn-default:hover {
    background: lighten($btnDefBg, 20%) !important;
    color: $btnColWhite;
}

.card-img-top {
    object-fit: contain;
    margin-top: 0.5em;
    border-radius: 15px;
    height: 60vh;
    max-height: -webkit-fill-available;
    padding-top: 5em;
}

.card-text-cutter {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-abs {
    position: absolute;
    width: 15rem;
}

.card-big-top {
    border-radius: 20px;
    height: 65vh;
    //max-height: 80vh;
    object-fit: contain;
}

.card-small-bottom {
    width: 100%;
    border-radius: 20px;
    max-height: 20vh;
    object-fit: cover;
}

.galleryCard {
    border-radius: 0;
    text-transform: capitalize;
    transition: width 0.3s ease;
    background-color: black;

    h5, p {
        color: white;
    }
}

.galleryCard:hover {
    opacity: 0.95;
}

//.galleryCard:nth-child(odd) {
//    background-color: black;

//    h5, p {
//        color: white;
//    }
//}

//.galleryCard:nth-child(even) {
//    background-color: white;

//    h5, p {
//        color: black;
//    }
//}

.detailCard {
    text-transform: capitalize;
}

.post {
    background: white;
    border-radius: 20px;
    padding: 1.1em;
    margin-bottom: 1em;
    border: 1px solid lighten($blackBg, 70%);

    img {
        width: 50px;
        height: 50px;
        margin-right: 0.5em;
    }

    p {
        margin: 0;
    }
}

th td {
    padding: 0;
}

td {
    vertical-align: middle;
}

.w5 {
    width: 5%;
}

tr td:nth-child(n+2):not(:last-child) {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-table {
    max-width: 40px;
    max-height: 40px;
}
//user details
.userInfo {
    border: 1px solid lighten($blackBg, 70%);
    padding: 1.5em 1.5em 0 1.5em;
    border-radius: 20px;

    div {
        border-bottom: 1px solid lighten($blackBg, 70%);
        padding: 0.5em 0;
    }

    p {
        margin: 0;
    }
}

.userInfo div:last-of-type {
    border: 0;
}