@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
html, body {
  height: 100%;
}

.iconContainer {
  display: flex;
}
.iconContainer .label {
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.iconContainer:hover .label {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0s;
}

.field-validation-error span {
  color: red;
  margin: 2em;
}

body {
  display: flex;
  flex-direction: column;
  background: #f5f5f7;
}
body * {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1f;
}

.mainContainer {
  flex: 1;
}

h1 {
  margin: 0em;
}

h2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.8em;
}

h4 {
  font-weight: 600;
  text-align: center;
}

input, select {
  border-radius: 250px !important;
}

.form-group {
  margin-bottom: 0.5em;
}
.form-group .col-md-10 {
  display: flex;
  align-items: center;
}
.form-group ::placeholder {
  color: #636363;
}
.form-group .input-icon {
  width: 25px;
}

nav {
  background: #121212;
}
nav .dropdown-menu {
  background: #121212;
}
nav .dropdown-menu .dropdown-item {
  color: white;
}

.navAdmin {
  background: #454545;
  width: 100%;
}
.navAdmin .dropdown-menu {
  background: #454545;
  margin: 0;
  padding: 0;
  border: 0;
}
.navAdmin .dropdown-menu .dropdown-item {
  color: white;
}

footer {
  flex-shrink: 0;
  background: #121212;
  color: #ffffff;
  padding: 0.5em;
}
footer a, footer p {
  color: #ffffff;
}

.btn {
  border-radius: 250px !important;
}

.btn-default {
  background: #454545;
  color: #ffffff;
  width: 100%;
  border-radius: 250px !important;
}

.btn-default:hover {
  background: #040405;
  color: #ffffff;
}

.btn-default + .btn-default {
  background: black;
}

.btn-default + .btn-default:hover {
  background: #4e4e54 !important;
  color: #ffffff;
}

#fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

#fullscreen img {
  max-width: 100%;
  max-height: 100%;
}

.card-img-top {
  object-fit: contain;
  display: block;
  height: 200px;
  max-height: -webkit-fill-available;
}

.card-text-cutter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-abs {
  position: absolute;
  width: 15rem;
}

.card-big-top {
  border-radius: 20px;
  height: 65vh;
  width: -webkit-fill-available;
  object-fit: contain;
}

.card-small-bottom {
  width: 100%;
  border-radius: 20px;
  max-height: 20vh;
  object-fit: cover;
}

.galleryCard {
  border-radius: 0;
  text-transform: capitalize;
  transition: width 0.3s ease;
}

.galleryCard:hover {
  opacity: 0.95;
}

.detailCard {
  text-transform: capitalize;
}

.post {
  background: white;
  border-radius: 20px;
  padding: 1.1em;
  margin-bottom: 1em;
  border: 1px solid #c5c5c5;
}
.post img {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
}
.post p {
  margin: 0;
}

th td {
  padding: 0;
}

td {
  vertical-align: middle;
}

.w5 {
  width: 5%;
}

tr td:nth-child(n+2):not(:last-child) {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-table {
  max-width: 40px;
  max-height: 40px;
}

.userInfo {
  border: 1px solid #c5c5c5;
  padding: 1.5em 1.5em 0 1.5em;
  border-radius: 20px;
}
.userInfo div {
  border-bottom: 1px solid #c5c5c5;
  padding: 0.5em 0;
}
.userInfo p {
  margin: 0;
}

.userInfo div:last-of-type {
  border: 0;
}
