@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
body {
  background: #f5f5f7;
}
body * {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1f;
}

main img {
  border-radius: 20px;
}

h1 {
  margin: 0.5em;
}

h2 {
  font-weight: 600;
  text-align: center;
}

h4 {
  font-weight: 600;
  text-align: center;
}

input, select {
  border-radius: 250px !important;
}

.form-group {
  margin-bottom: 0.5em;
}
.form-group .col-md-10 {
  display: flex;
  align-items: center;
}
.form-group ::placeholder {
  color: #636363;
}
.form-group .input-icon {
  width: 25px;
}

nav {
  background: #121212;
}
nav .dropdown-menu {
  background: #121212;
}
nav .dropdown-menu .dropdown-item {
  color: white;
}

footer {
  background: #121212;
  color: #ffffff;
  padding: 0.5em;
}
footer a, footer p {
  color: #ffffff;
}

.btn-default {
  background: #454545;
  color: #ffffff;
  width: 100%;
  border-radius: 250px !important;
}

.btn-default:hover {
  background: #040405;
  color: #ffffff;
}

.btn-default + .btn-default {
  background: black;
}

.btn-default + .btn-default:hover {
  background: #4e4e54 !important;
  color: #ffffff;
}

.card-img-top {
  object-fit: cover;
  margin-top: 0.5em;
  border-radius: 15px;
  height: 60vh;
  max-height: -webkit-fill-available;
  padding-top: 5em;
}

.card-text-cutter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-abs {
  position: absolute;
  width: 15rem;
}

.card-big-top {
  border-radius: 20px;
  height: 65vh;
  object-fit: contain;
}

.card-small-bottom {
  width: 100%;
  border-radius: 20px;
  max-height: 20vh;
  object-fit: cover;
}

.galleryCard {
  border-radius: 30px;
  text-transform: capitalize;
}

.galleryCard:hover {
  transform: scale(1.03);
}

.galleryCard:nth-child(odd) {
  background-color: black;
}
.galleryCard:nth-child(odd) h5, .galleryCard:nth-child(odd) p {
  color: white;
}

.galleryCard:nth-child(even) {
  background-color: white;
}
.galleryCard:nth-child(even) h5, .galleryCard:nth-child(even) p {
  color: black;
}

.detailCard {
  text-transform: capitalize;
}

.post {
  background: white;
  border-radius: 20px;
  padding: 1.1em;
  margin-bottom: 1em;
}
.post img {
  width: 50px;
  height: fit-content;
  margin-right: 0.5em;
}
.post p {
  margin: 0;
}

th td {
  padding: 0;
}

td {
  vertical-align: middle;
}

tr td:nth-child(n+2):not(:last-child) {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-table {
  max-width: 40px;
  max-height: 40px;
}
