@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
body {
  background: #c1dce1;
}
body * {
  font-family: "Libre Baskerville", serif;
  color: #6f6f6f;
}

main img {
  border-radius: 20px;
}

h1 {
  margin: 0.5em;
}

h2 {
  font-weight: 600;
  text-align: center;
}

h4 {
  font-weight: 600;
  text-align: center;
}

input, select {
  border-radius: 250px !important;
}

.form-group {
  margin-bottom: 0.5em;
}
.form-group .col-md-10 {
  display: flex;
  align-items: center;
}
.form-group ::placeholder {
  color: #636363;
}
.form-group .input-icon {
  width: 25px;
}

nav {
  background: cadetblue;
}
nav .dropdown-menu {
  background: cadetblue;
}
nav .dropdown-menu .dropdown-item {
  color: white;
}
nav .dropdown-menu .dropdown-item:hover {
  color: #d45b2d;
  border-radius: 50px;
}

footer {
  background: cadetblue;
  color: #ffffff;
  padding: 0.5em;
}
footer a {
  color: #ffffff;
}

.btn-default {
  background: cadetblue;
  color: #ffffff;
  width: 100%;
  margin-top: 0.3em;
}

.btn-default:hover {
  background: #4c7e80;
  color: #ffffff;
}

.btn-default + .btn-default {
  background: #395f60;
}

.btn-default + .btn-default:hover {
  background: #4c7e80;
  color: #ffffff;
}

.card-img-top {
  height: 40vh;
  object-fit: cover;
  margin-top: 0.5em;
  border-radius: 15px;
}

.card-text-cutter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-big-top {
  border-radius: 20px;
  height: 65vh;
  object-fit: contain;
}

.card-small-bottom {
  width: 100%;
  border-radius: 20px;
  max-height: 20vh;
  object-fit: cover;
}

.galleryCard {
  background-image: linear-gradient(to bottom, white, white, #8DC0C9);
  border: 10px solid cadetblue;
  border-radius: 30px;
  text-transform: capitalize;
}

.detailCard {
  text-transform: capitalize;
}

.post {
  background: white;
  border-radius: 20px;
  padding: 1.1em;
  margin-bottom: 1em;
}
.post img {
  width: 50px;
  height: fit-content;
  margin-right: 0.5em;
}
.post p {
  margin: 0;
}

th td {
  padding: 0;
}

tr td:nth-child(n+2):not(:last-child) {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-table {
  max-width: 40px;
  max-height: 40px;
}
