<main>
    <h1 class="text-center">Le Pie creazioni</h1>
    <div class="row">
        <div class="col mt-2 col-12 col-md-12">
            <h4 class="text-center">Benvenutæ nel mio sito dove potrai trovare tutte le mie ultime creazioni artigianali.</h4>
        </div>
        <div class="col text-center col-12 col-md-12 m-auto p-0">
            <div id="carouselHome" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="Products/Gallery">
                            <div class="row row-cols-1 row-cols-md-3">
                                <img src="~/Content/imgDefault/stones (1).png" class="d-none d-md-block carImg rounded-start-pill" alt="Immagine carosello">
                                <img src="~/Content/imgDefault/stones (2).png" class="d-md-block carImg" alt="Immagine carosello">
                                <img src="~/Content/imgDefault/stones (3).png" class="d-none d-md-block carImg rounded-end-pill" alt="Immagine carosello">
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="Products/Gallery">
                            <div class="row row-cols-1 row-cols-md-3">
                                <img src="~/Content/imgDefault/stones (4).png" class="d-none d-md-block carImg rounded-start-pill" alt="Immagine carosello">
                                <img src="~/Content/imgDefault/stones (5).png" class="d-md-block carImg" alt="Immagine carosello">
                                <img src="~/Content/imgDefault/stones (6).png" class="d-none d-md-block carImg rounded-end-pill" alt="Immagine carosello">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            @Html.ActionLink("Galleria", "Gallery", "Products", new { area = "" }, new { @class = "btn btn-outline-secondary mt-3" })
        </div>
    </div>
</main>