@model Stones.Models.PostResponse

@{
    ViewBag.Title = "Create";
}

<h2>Rispondi al messaggio</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="">
                @Html.TextAreaFor(model => model.body, new { @class = "form-control", placeholder = "Risposta", @rows = 8 })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Invia risposta" class="btn btn-default" />
            </div>
        </div>
    </div>
}
