@model Stones.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Commenta l'opera</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="">
                @Html.TextAreaFor(model => model.body, new { @class = "form-control", placeholder = "Commento", @rows = 4 })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="text-end">
                <input type="submit" value="Invia commento" class="btn btn-outline-secondary px-3 rounded-2 " />
            </div>
        </div>
    </div>
}